body {
    background-image: url(../images/bats.gif);
    background-position: center;
    
}
main{
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    width: 800px;
    background-color: white;
    border: 5px solid black;
    margin: auto;
    
}

header {
    border-bottom: 3px solid black;
    background-image: linear-gradient(45deg, white, orange 75%, black);
    margin: auto;
    padding-top: 6px;
    padding-bottom: 4px;

}

#top_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    position: relative;
}

    #top_bar ul li {
        float: left;
        color: white;
    }

    #top_bar ul ul li {
        float: none;
    }

    #top_bar ul li:hover > ul {
        display: list-item;
    }

    #top_bar ul ul {
        display: none;
        position: absolute;
        width: 196px;
    }

#top_bar > ul::after {
    content: "";
    display: block;
    clear: both;
}

#top_bar ul li a:hover {
    background-color: gray;
}

#top_bar ul li a {
    text-align: center;
    display: block;
    color: lightgray;
    text-decoration: none;
    padding: 10px 40px 10px 40px;
}

.product a{
    color: orange !important;
}

#side_bar ul {
    padding: 20px;
    padding-right: 5px;
    margin-left: 0px;
    list-style-type: none;
}

#side_bar ul li{

}

    #side_bar ul li a {
        display: block;
        border: 2px solid black;
        margin-bottom: 10px;
        text-decoration: none;
        background-color: orange;
        width: 80px;
        height: 22px;
        padding-left: 10px;
        font-size: 14px;
    }

        #side_bar ul li a:link {
            font-weight: bold;
            color: black;
        }

        #side_bar ul li a:hover{
            color: green;
        }

aside{
    float:left;
    height: 500px;
    width: 160px;
    margin-left:0px;
    padding-left: 0px;
    text-align:left;
}

#table
{
    margin: 20px;
}

#table thead {
    color:gray;
}

#table th, td {
    padding: .5em 3em .2em 1em;
    text-align: left;
    vertical-align: middle;
}

#table figcaption {
    text-align: center;
}

#table .rowspan {
    background-color: white !important;
    font-weight: bold;
    vertical-align: top;
}
#table a:link{
    color: black;
}

.right_col {
    text-align: right;
    background-color: #F5DEB3;
    padding-right: 2px;
    padding-left: 5px;
    margin-left: 0px;
    width: 20px;
}
.last_col{
    text-align: right !important;
    padding: 0px !important;
    padding-left: 2px !important;
}

.goblin_message {
    margin-top: 0px;
    margin-left: 115px;
}

.halloween_store {
    margin-left: 115px;
    margin-bottom:0px;
    
}

.pumpkin{
    float:left;
    
}

footer {
    font-size: smaller;
    text-align: center;
    padding-top:20px;
    border-top: 3px solid black;
    background-image: linear-gradient(45deg, black, orange, white);
    height: 30px;
}